In [3]:
!pip3 install numpy pandas

Requirement already satisfied: numpy in c:\python\lib\site-packages (1.15.2)
Requirement already satisfied: pandas in c:\python\lib\site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\python\lib\site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in c:\python\lib\site-packages (from pandas) (2018.5)
Requirement already satisfied: six>=1.5 in c:\python\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

phik 0.9.8 has requirement numpy>=1.15.4, but you'll have numpy 1.15.2 which is incompatible.

In [6]:
!pip3 install sklearn joblib

Requirement already satisfied: sklearn in c:\python\lib\site-packages (0.0)
Requirement already satisfied: joblib in c:\python\lib\site-packages (0.14.1)
Requirement already satisfied: scikit-learn in c:\python\lib\site-packages (from sklearn) (0.22)
Requirement already satisfied: numpy>=1.11.0 in c:\python\lib\site-packages (from scikit-learn->sklearn) (1.15.2)
Requirement already satisfied: scipy>=0.17.0 in c:\python\lib\site-packages (from scikit-learn->sklearn) (1.3.2)

phik 0.9.8 has requirement numpy>=1.15.4, but you'll have numpy 1.15.2 which is incompatible.
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [9]:
!pip3 install distproc
#from distproc import*

Collecting distproc

  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000000AAED2C97F0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/distproc/
  Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000000AAED2C9B38>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/distproc/
  Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000000AAED2C9B70>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/distproc/
  Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000000AAED2C9CF8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/distproc/
  Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000000AAED2C9DD8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/distproc/
  Could not find a version that satisfies the requirement distproc (from versions: )
No matching distribution found for distproc
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

In [4]:
df=pd.read_csv(r'C:\Users\Ravi Kumar\Desktop\DjangoProjects\ML\datasets-for-start-master\adult\data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [20]:
df.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [22]:
cols=[c for c in df.columns if c != ' income']

In [17]:
cols

['age',
 ' workclass',
 ' fnlwgt',
 ' education',
 ' education-num',
 ' marital-status',
 ' occupation',
 ' relationship',
 ' race',
 ' sex',
 ' capital-gain',
 ' capital-loss',
 ' hours-per-week',
 ' native-country',
 ' income']

In [25]:
x=df[cols]
y=df[' income']

In [26]:
x

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States
27,54,,180211,Some-college,10,Married-civ-spouse,,Husband,Asian-Pac-Islander,Male,0,0,60,South
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,,33811,Bachelors,13,Never-married,,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States
32539,71,,287372,Doctorate,16,Married-civ-spouse,,Husband,White,Male,0,0,10,United-States
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States
32541,41,,202822,HS-grad,9,Separated,,Not-in-family,Black,Female,0,0,32,United-States
32542,72,,129912,HS-grad,9,Married-civ-spouse,,Husband,White,Male,0,0,25,United-States
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [27]:
y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
5         <=50K
6         <=50K
7          >50K
8          >50K
9          >50K
10         >50K
11         >50K
12        <=50K
13        <=50K
14         >50K
15        <=50K
16        <=50K
17        <=50K
18        <=50K
19         >50K
20         >50K
21        <=50K
22        <=50K
23        <=50K
24        <=50K
25         >50K
26        <=50K
27         >50K
28        <=50K
29        <=50K
          ...
32531     <=50K
32532      >50K
32533      >50K
32534     <=50K
32535     <=50K
32536      >50K
32537     <=50K
32538      >50K
32539      >50K
32540     <=50K
32541     <=50K
32542     <=50K
32543     <=50K
32544     <=50K
32545      >50K
32546     <=50K
32547     <=50K
32548     <=50K
32549     <=50K
32550     <=50K
32551     <=50K
32552     <=50K
32553     <=50K
32554      >50K
32555     <=50K
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name:  income, Length: 32561, dtype: object

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1234)

In [51]:
x_train.isnull().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
dtype: int64

In [33]:
x_train.mode()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,31.0,Private,121124,HS-grad,9.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,40.0,United-States
1,NaN,NaN,188246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
train_mode=dict(x_train.mode().iloc[0])

In [44]:
print(train_mode)

{'age': 31.0, ' workclass': ' Private', ' fnlwgt': 121124, ' education': ' HS-grad', ' education-num': 9.0, ' marital-status': ' Married-civ-spouse', ' occupation': ' Prof-specialty', ' relationship': ' Husband', ' race': ' White', ' sex': ' Male', ' capital-gain': 0.0, ' capital-loss': 0.0, ' hours-per-week': 40.0, ' native-country': ' United-States'}

In [46]:
x_train=x_train.fillna(train_mode)

In [48]:
print(train_mode)

{'age': 31.0, ' workclass': ' Private', ' fnlwgt': 121124, ' education': ' HS-grad', ' education-num': 9.0, ' marital-status': ' Married-civ-spouse', ' occupation': ' Prof-specialty', ' relationship': ' Husband', ' race': ' White', ' sex': ' Male', ' capital-gain': 0.0, ' capital-loss': 0.0, ' hours-per-week': 40.0, ' native-country': ' United-States'}

In [56]:
x_train.columns=x_train.columns.str.lstrip()

In [58]:
x_train.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
      dtype='object')

In [65]:
encoders={}
for column in ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']:
    encdr=LabelEncoder()
    x_train[column]=encdr.fit_transform(x_train[column])
    encoders[column]=encdr
x_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
29700,37,4,34146,11,9,2,3,0,4,1,0,0,68,38
1529,37,4,26898,11,9,0,4,4,4,0,0,0,12,38
27477,26,4,190762,15,10,2,12,0,4,1,0,0,18,38
31950,35,4,189092,9,13,2,4,0,4,1,0,0,40,38
4732,23,4,260019,5,4,4,5,4,3,1,0,0,36,25
10858,25,4,158662,11,9,2,1,5,4,0,0,0,50,38
24518,38,4,208379,9,13,4,7,1,4,0,0,0,8,38
10035,61,0,135285,11,9,2,0,0,4,1,0,2603,32,38
1324,39,4,83893,11,9,2,1,0,4,1,0,0,40,38
26727,65,4,113323,9,13,2,4,0,4,1,0,0,40,38
10255,74,6,104001,11,9,2,12,0,4,1,0,0,40,38
25713,32,4,183304,8,11,2,14,0,4,1,0,0,99,38
32541,41,0,202822,11,9,5,0,1,2,0,0,0,32,38
22242,38,4,183800,7,12,2,1,0,4,1,0,0,40,38
8743,37,7,210452,12,14,2,4,0,4,1,0,0,38,38
21018,23,4,346480,11,9,4,1,1,4,0,0,0,50,38
15462,38,4,168496,7,12,2,12,0,4,1,0,0,50,38
24948,47,4,374580,11,9,5,12,1,4,0,0,0,52,38
4630,30,4,142675,2,8,2,3,0,4,1,0,0,50,38
31931,34,4,226872,9,13,0,12,1,4,0,0,0,40,38
18589,37,4,238049,6,5,4,9,1,4,0,0,0,30,8
13984,19,4,60367,11,9,4,8,3,4,0,0,0,13,38
28047,38,4,109231,11,9,2,3,0,4,1,0,0,40,38
21419,59,6,32855,5,4,2,5,0,4,1,0,0,70,38
29795,17,4,78602,1,7,4,8,2,4,0,0,0,20,38
12366,17,4,163836,0,6,4,12,3,4,0,0,0,12,38
25362,26,4,108019,11,9,4,3,3,4,1,3325,0,40,38
15778,27,0,182386,1,7,0,0,4,4,0,0,0,35,38
18061,71,4,77253,11,9,4,6,1,4,1,0,0,17,38
16192,26,4,71009,9,13,4,10,1,1,0,0,0,40,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2558,58,7,110517,10,16,2,10,0,1,1,4064,0,40,18
16630,44,7,87282,9,13,4,10,1,1,0,0,0,38,38
18815,35,4,334999,11,9,2,12,0,4,1,0,0,45,38
9161,39,4,175972,15,10,2,8,5,4,0,0,0,15,38
27984,23,4,340543,9,13,4,4,1,4,0,0,0,38,38
27973,50,4,548361,9,13,2,13,0,4,1,0,0,20,38
7644,17,4,221129,6,5,2,8,0,4,1,0,0,40,38
14192,54,7,312897,10,16,2,10,0,4,1,0,0,46,9
26744,42,4,210525,12,14,4,4,1,4,1,0,0,40,38
27066,30,4,275232,7,12,4,10,4,2,0,0,0,36,38
13686,50,4,130780,11,9,2,6,0,2,1,0,0,40,38
7962,31,4,213002,2,8,4,12,1,4,1,4650,0,50,38
8060,47,4,155659,11,9,2,4,0,4,1,0,0,60,38
7916,28,4,142764,11,9,4,7,1,4,1,0,0,48,38
1182,36,4,416745,9,13,2,10,0,4,1,0,0,40,38
32427,41,4,206878,11,9,0,8,4,4,0,0,0,32,38
8222,28,0,190303,7,12,4,0,2,4,1,0,0,40,38
23706,50,4,167065,9,13,2,4,0,4,1,0,0,40,38
9449,55,4,172666,15,10,2,3,0,4,1,0,0,40,38
8471,38,4,174717,9,13,2,12,0,4,1,0,0,50,38
23217,22,4,184975,11,9,3,8,3,4,0,0,0,3,38
32399,42,4,161510,9,13,2,12,0,4,1,7298,0,40,38
22521,50,4,145409,11,9,2,14,0,4,1,0,0,50,38
17048,61,1,28291,9,13,2,4,5,4,0,0,0,40,38
23924,18,4,31983,2,8,4,1,3,4,0,0,0,20,38
27852,24,4,223367,1,7,4,3,4,4,1,0,0,40,38
23605,20,4,127185,15,10,4,10,3,4,0,0,0,15,38
1318,41,7,144928,9,13,2,10,0,4,1,0,0,40,38
25299,40,4,199303,11,9,2,3,0,4,1,0,0,40,38
27439,38,4,38312,9,13,2,4,0,4,1,15024,0,65,38

In [66]:
train_mode

{'age': 31.0,
 ' workclass': ' Private',
 ' fnlwgt': 121124,
 ' education': ' HS-grad',
 ' education-num': 9.0,
 ' marital-status': ' Married-civ-spouse',
 ' occupation': ' Prof-specialty',
 ' relationship': ' Husband',
 ' race': ' White',
 ' sex': ' Male',
 ' capital-gain': 0.0,
 ' capital-loss': 0.0,
 ' hours-per-week': 40.0,
 ' native-country': ' United-States'}

In [67]:
encoders

{'workclass': LabelEncoder(),
 'education': LabelEncoder(),
 'marital-status': LabelEncoder(),
 'occupation': LabelEncoder(),
 'relationship': LabelEncoder(),
 'race': LabelEncoder(),
 'sex': LabelEncoder(),
 'native-country': LabelEncoder()}

In [69]:
rf=RandomForestClassifier(n_estimators = 100)
rf=rf.fit(x_train,y_train)

In [70]:
et=ExtraTreesClassifier(n_estimators = 100)
et=et.fit(x_train,y_train)

In [71]:
et

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [72]:
rf

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [76]:
joblib.dump(train_mode,"./train_mode.joblib",compress=True)

['./train_mode.joblib']

In [77]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [78]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 8C4C-C50F

 Directory of C:\Users\Ravi Kumar\Desktop\DjangoProjects\ML

01/26/2020  01:58 PM    <DIR>          .
01/26/2020  01:58 PM    <DIR>          ..
01/25/2020  10:54 PM    <DIR>          .ipynb_checkpoints
01/25/2020  11:13 PM    <DIR>          datasets-for-start-master
01/26/2020  01:57 PM           125,576 IncomePredictor.ipynb
01/25/2020  10:22 PM    <DIR>          server
01/26/2020  01:58 PM               444 train_mode.joblib
               2 File(s)        126,020 bytes
               5 Dir(s)  554,798,669,824 bytes free

In [79]:
joblib.dump(encoders,"./encoders.joblib",compress=True)
joblib.dump(rf,"./random_forest.joblib",compress=True)
joblib.dump(et,"./extra_tress.joblib",compress=True)

['./extra_tress.joblib']

In [80]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 8C4C-C50F

 Directory of C:\Users\Ravi Kumar\Desktop\DjangoProjects\ML

01/26/2020  02:04 PM    <DIR>          .
01/26/2020  02:04 PM    <DIR>          ..
01/25/2020  10:54 PM    <DIR>          .ipynb_checkpoints
01/25/2020  11:13 PM    <DIR>          datasets-for-start-master
01/26/2020  02:04 PM               616 encoders.joblib
01/26/2020  02:04 PM        20,272,413 extra_tress.joblib
01/26/2020  02:02 PM           127,274 IncomePredictor.ipynb
01/26/2020  02:04 PM         7,905,603 random_forest.joblib
01/25/2020  10:22 PM    <DIR>          server
01/26/2020  01:58 PM               444 train_mode.joblib
               5 File(s)     28,306,350 bytes
               5 Dir(s)  554,768,617,472 bytes free

In [81]:
!git initi

'git' is not recognized as an internal or external command,
operable program or batch file.